/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
/ {
        keymap {
                compatible = "zmk,keymap";
                default_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | ESC  |
// | EXT  |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
// | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | SHFT |
//                    | LWR | GUI |SPC/CTRL| | ENT | BSPC | ALT |
                        bindings =
   &kp TAB   &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I     &kp O   &kp P    &kp ESC
   &mo 2     &kp A &kp S &kp D &kp F &kp G   &kp H &kp J  &kp K     &kp L   &kp SEMI &kp SQT
   &kp LSHFT &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp LSHFT
                  &mo 1 &kp LGUI &mt LCTRL SPACE &kp RET &kp BSPC &kp LALT
                        >;
                };
                lower_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | ESC  |
// | EXT  |  !  |  @  |  [  |  ]  |  _  |   |  {  |  }  |  *  |  (  |  )  |  |   |
// | SHFT |  -  |  %  |  #  |  &  |  =  |   |  +  |  ^  |  $  |  \  |  ~  | SHFT |
//                    |     | GUI | CTRL|   | ENT | BSPC | ALT |
                        bindings =
   &kp TAB    &kp N1       &kp N2       &kp N3       &kp N4       &kp N5         &kp N6    &kp N7    &kp N8    &kp N9    &kp N0     &kp ESC
   &mo 2      &kp EXCL     &kp AT       &kp LBKT     &kp RBKT     &kp UNDER      &kp LBRC  &kp RBRC  &kp ASTRK &kp LPAR  &kp RPAR   &kp PIPE
   &kp LSHFT  &kp MINUS    &kp PRCNT    &kp HASH     &kp AMPS     &kp EQUAL      &kp PLUS  &kp CARET &kp DLLR  &kp BSLH  &kp TILDE  &kp LSHFT
                                    &trans     &kp LGUI       &kp LCTRL      &kp RET  &kp BSPC   &kp LALT
                        >;
                };
                extend_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |     |     |     |     |     |   |     |     |  UP  |     |     | ESC  |
// |      |     |     |     |     |     |   |     | LFT | DOWN | RGT |     |      |
// | SHFT |     |     |     |     |     |   |     |     |     |     |     | SHFT |
//                    |     | GUI | CTRL|   | ENT | BSPC | ALT |
                        bindings =
   &kp TAB   &trans &trans &trans &trans &trans   &trans &trans    &kp UP    &trans     &trans &kp ESC
   &trans    &trans &trans &trans &trans &trans   &trans &kp LEFT  &kp DOWN  &kp RIGHT  &trans &trans
   &kp LSHFT &trans &trans &trans &trans &trans   &trans &trans    &trans    &trans     &trans &kp LSHFT
                          &trans &kp LGUI &kp LCTRL   &kp RET &kp BSPC &kp LALT
                        >;
                };
        };
};
